<!DOCTYPE html>
<html>
  <%- include('../layout/header'); -%>
    <body>
    <center>
    		<div class="kotak">
    			<br>
    		<form>
    			<h1>Register</h1>
    			<br>
    			<br>
    			<br>
    			<div class="form">
    				<input type="text" class="form-control" placeholder="username" id="username">
    			</div>
                <br>
                <div class="form">
                    <input type="text" class="form-control" placeholder="email" id="email">
                </div>
    			<br>
    			<div class="form">
    				<input type="password" class="form-control" placeholder="masukkan password" id="exampleInputPassword1">
    			</div>
    			<br>
    			<br>
    			<button type="button" class="btn btn-primary">Submit</button>
                <a href="login" class="change-register">create account</a>
    		</form>
    	</div>
    </center>
  </body>
</html>
